.navbar-brand {
  color: #486e00;
  text-decoration: none;
  font-weight: 600;
}

.nav-link {
  color: #3a3a3a !important;
  text-align: center;
}

.btn-secondary {
  background-color: transparent;
  color: black;
  border: none;
}

.search-bar {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.search-bar.active {
  width: 300px;
}

#searchBar {
  position: relative;
}

#searchResultsDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  height: 400px;
  overflow-y: auto;
}

.hide-results-button {
  background-color: white !important;
}

.search-result-item {
  border-bottom: 1px solid;
  margin-top: 30px;
}

.search-result-image {
  width: 30%;
}

#searchResultsDropdown.active {
  display: block;
}

@media (max-width: 415px) {
  #searchResultsDropdown {
    width: 100%;
  }
}
