.navbar-brand {
  color: #486e00;
  text-decoration: none;
  font-weight: 600;
}

.nav-link {
  color: #3a3a3a !important;
  text-align: center;
}

.btn-secondary {
  background-color: transparent;
  color: black;
  border: none;
}

.search-bar {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.search-bar.active {
  width: 300px;
}

#searchBar {
  position: relative;
}

#searchResultsDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  display: none;
  height: 80vh;
  overflow-y: auto;
}

.hide-results-button {
  background-color: transparent;
}

.search-result-list {
  background-color: #3a3a3a;
  text-decoration: underline !important;
}

.search-result-item {
  border-bottom: 1px solid;
  margin-top: 30px;
}

.search-result-image {
  width: 30%;
  border-radius: 5px;
}

#searchResultsDropdown.active {
  display: block;
}

@media (max-width: 415px) {
  #searchResultsDropdown {
    width: 100%;
  }
}
